
$font-family-base: Arial, "Hiragino Sans GB", \5FAE\8F6F\96C5\9ED1, \5B8B\4F53, sans-serif !default;
$font-size-base: 14px !default;
$line-height-base: 1.6 !default;
$text-color: #444 !default;
$body-bg: #f8f8f8 !default;

// link
$link-color: #18a0ff !default;
$link-hover-color: #18a0ff !default;
$link-hover-decoration: none !default;

// button
$btn-font-weight: normal !default;
$btn-primary-bg: #f3d119 !default;
$btn-primary-color: #fff !default;
$btn-deny-color: #646464 !default;
$btn-deny-bg: #fff !default;
$btn-optional-color: #fff !default;
$btn-optional-bg: #58abef !default;

// video
$video-ready-bg: #edf1f6 !default;
$video-ready-border: #a4bdd8 !default;

$borderTB: 1px solid #e4e4e4;
