.ui-review {
  width: 945px;
  margin: 0 auto;
  li {
    @include clearfix;
    height: 80px;
    overflow: hidden;
    background: rgba(255,255,255,0.13);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0 10px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    .index {
      font-size: 34px;
      color: #fff;
      display: inline-block;
      background: #4f81eb;
      border-radius: 50%;
      height: 42px;
      line-height: 42px;
      width: 42px;
      text-align: center;
      font-style: normal;
      margin-right: 20px;
    }
    .text {
      display: inline-block;
      color: #fff;
      font-size: 24px;
      line-height: 32px;
      width: 510px;
      margin-right: 100px;
    }
    .button-content {
      float: right;
      width: 245px;
      a {
        display: inline-block;
        font-size: 36px;
        padding: 0px 35px;
        border-radius: 10px;
        &.yes {
          color: #577be0;
          background: #dce0f5;
          border: 2px solid #dce0f5;
          margin-right: 20px;
        }
        &.no {
          color: #fff;
          border: 2px solid rgba(255,255,255,0.28);
        }
      }
    }
  }
}
