.page-protocal {
  h1 {
    margin: 50px 0;
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: normal;
  }
  .protocal-list {
    ul {
      width: 775px;
      margin: 0 auto;
      @include clearfix;
      li {
        float: left;
        width: 350px;
        height: 75px;
        margin-right: 70px;
        margin-bottom: 25px;
        background: rgba(255,255,255,0.28);
        border-radius: 5px;
        display: -ms-flex;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        a {
          width: 350px;
          display: block;
          text-align: center;
          font-size: 24px;
          line-height: 30px;
          color: #fff;
          &:hover {
            background: rgba(54,94,140,0.55);
          }
        }
        &:nth-child(even) {
          margin-right: 0;
        }
      }
    }
  }
}
