%btn {
  @include inline-block;
  font-weight: $btn-font-weight;
  text-align: center;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  @include button-size(0, 148px, 48px, 90px, 5px);
  white-space: nowrap;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: default;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
  }
}

.btn-primary {
  @extend %btn;
  background-color: $btn-primary-bg;
  color: $btn-primary-color;
}

.btn-next {
  @extend %btn;
  background-color: $btn-primary-bg;
  color: $btn-primary-color;
}
.btn-back {
   @extend %btn;
  background-color: #fff;
  color: $btn-primary-bg;
  border: 1px solid $btn-primary-bg;
}

.btn-deny {
  @extend %btn;
  background-color: $btn-deny-bg;
  color: $btn-deny-color;
  border-color: #e6e6e6;
}

// large button
.btn-lg {
  @include button-size(0, 30px, 20px, 44px, 5px);
}

// larger button
.btn-more-lg {
  @include button-size(0, 60px, 20px, 44px, 5px);
}

// lower button
.btn-lw {
   @include button-size(0, 10px, 16px, 30px, 5px);
}
.ui-button {
  position: absolute;
  left: 0px;
  bottom: 0;
  @include clearfix;
  height: 105px;
  width: 100%;
  button {
    float: left;
    display: block;
    width: 50%;
    text-align: center;
    height: 105px;
    line-height: 105px;
    font-size: 48px;
    color: #fff;
    border: none;
    &.next-btn {
      background: #fad718;
    }
    &.next-btn.disabled {
      background: #808080;
      color: #a4a4a4;
      cursor: default;
    }
    &.before-btn {
      background: #8798e6;
    }
    &.exit-btn {
      background: #ef806d;
    }
    &.submit-btn {
      background: #f0cf17;
    }
  }
}
