.input,.select {
  @include inline-block;
  width: 398px;
  height: 66px;
  padding: 0 20px;
  line-height: 66px;
  border-width: 2px;
  border-style: solid;
  border-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  color: #fff;
  font-size: 40px;
  background: rgba(238,241,254,0.3);
  &:focus {
    border-color: #fad718;
  }
  &:-ms-input-placeholder {
      color: #fff;
  }
  &::-webkit-input-placeholder {
      color: #fff;
  }
}

