<div class="ui-keyboard">
  <div class="input-content">
    <label>
      <input class="keyboard-input" type="text" placeholder="输入数字显示" readonly="true">
    </label>
  </div>
  <div class="keyboard-content">
    <p class="info">长按数字键，可弹出字母键</p>
    <ul>
      <li>
        <a href="javascript:void(0)">
          <b>1</b>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <b>2</b>
          <span>abc</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <b>3</b>
          <span>def</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <b>4</b>
          <span>ghi</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <b>5</b>
          <span>jkl</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <b>6</b>
          <span>mno</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <b>7</b>
          <span>pqrs</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <b>8</b>
          <span>tuv</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <b>9</b>
          <span>wxyz</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="icon back-icon"></i></a>
      </li>
      <li>
        <a href="javascript:void(0)">
          <b>0</b>
        </a>
      </li>
      <li>
        <a href="javascript:void(0)"><i class="icon delete-icon"></i></a>
      </li>
    </ul>
  </div>
</div>
