.ui-header {
  height: 72px;
  border-bottom: 1px solid #d7d7d7;
  background-color: #fff;
  .header-inner {
    @include clearfix;
    @include size(950px, 100%);
    margin: 0 auto;
  }
  .logo {
    float: left;
    @include size(306px, 72px);
    img {
      margin-top: 10px;
    }
  }
  .nav-right {
    float: right;
    margin-top: 15px;
    .nav-item {
      float: right;
      margin-left: 15px;
      height: 40px;
      line-height: 40px;
    }
    a {
      color: #4d4d4d;
    }
  }
  .userinfo {
    margin-top: 1px;
    a {
      color: #18a0ff;
      &.user-info {
        color: #444;
        &:hover {
          text-decoration: underline;
          color: #fa7c28;
        }
      }
    }
  }
  .hotline {
    .nav-text {
      position: relative;
      line-height: 0;
      top: -3px;
    }
    .num {
      font-size: 24px;
      color: #f05a27;
    }
  }
}
