---
layout: keyboard
title: 设置密码
class: password
step: 3
---

{% include component/step.html %}
<div class="password-content">
  <div class="password-inner">
    <h2>设置交易密码</h2>
    <input type="password" class="input" placeholder="设置6位数字密码">
    <input type="password" class="input" placeholder="请再次输入">
  </div>
  <div class="other-password" style="display:none">
    <div class="password-inner">
      <h2>设置资金密码</h2>
      <input type="password" class="input" placeholder="设置6位数字密码">
      <input type="password" class="input" placeholder="请再次输入">
    </div>
    <div class="password-inner">
      <h2>设置通信密码</h2>
      <input type="password" class="input" placeholder="设置6位数字密码">
      <input type="password" class="input" placeholder="请再次输入">
    </div>
  </div>
  <div class="set-password">
    <p class="same-password">资金密码、交易密码、通信密码相同</p>
    <a href="#">
      <span>设置不同密码</span>
      <i class="bottom"></i>
    </a>
  </div>
</div>
{% include component/button.html %}
